.header{
    background-color:#7a7a79;
    height:1.5vw;
    font-size: 1vw;
    display:inline-block;
}
a{
    text-decoration: none;
    color: black;
}
nav{
    background-color:rgb(0, 0, 0, 0.01) !important;
}
.nav-item{
    margin-left:25px !important;
}
.nav-link{
    color:black;
}
.nav-login{
    background-color: #7a7a79;
}
.nav-register{
    background-color: #eb5600;
}